{% extends "layout.html" %}
{% block content %}
<style>
  p { color: #333333; font-family: Georgia, serif; font-size: 18px; line-height: 28px; margin: 0 0 28px; }
  
  
  </style>
<header class="masthead d-flex">
      <div class="container text-center my-auto">
       
	<h4><a href="{{ url_for('index') }}">Home</a></h4>
	<h1>{{user.username}} 's Posts </h1>


  <div class="container text-center my-auto">
     <br>
        <div class="col-lg-8 mx-auto" class="page-title">
             
              <div style="padding-top:30;
              padding-bottom:30;
              background-color:#ffffff55;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;">
              <div>

                <p style="text-align: left;">
              This estimation is based on a few characteristics that you have shared during the sign-up process. As cutting-edge as the machine learning technique we apply here to estimate your settlement, the data are imperfect (we use tobacco settlement data to estimate your opioid abuse settlement) and the underlying assumptions are highly theoretical. Therefore, please view this settlement as simply a work in progress and by no means a definitive measure of your damage nor Defendants’ liabilities. 
            </p>
          </div>
            </div>
             <br>
          </div>

    
   {% if followed is defined %}
   		{% if followed %}
   			<form action="/unfollow/{{user.username}}" method="POST">
        		<button type="submit" class="btn btn-primary btn-xl js-scroll-trigger"> Unfollow </button> 
      		</form>
   		{% else %}
   			<form action="/follow/{{user.username}}" method="POST">
        		<button type="submit" class="btn btn-secondary btn-xl js-scroll-trigger"> Follow </button> 
      		</form>
   		{% endif %}
   {% endif %}

 </div>
</header>


{% endblock %}